.theme(@mainC1:#1e6bba,@mainC2:#e08400,@mainC3:#237fde,@btnC1:#1e6bba,@btnC2:#e08400,@textC1:#1e6bba,@textC2:#fcc84b) {
}

.mainBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  //background-image: url("../static/images/shadow.jpg");
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

.normalBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}